.ba-header {
  padding: 43px 0 65px;
  background-color: #fafafb;
  background-image: url(../images/img.jpg);
  background-size: cover; }
  .ba-header .ba-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ba-header .ba-nav-menu .ba-logo__icon {
      width: 126px;
      height: 52px; }
    .ba-header .ba-nav-menu .ba-nav-bar__menu {
      display: flex; }
      .ba-header .ba-nav-menu .ba-nav-bar__menu .ba-nav-bar__item {
        margin-right: 38px;
        font-weight: bold;
        line-height: 25px;
        margin-top: 10px;
        border-top: 3px solid transparent;
        transition: 0.3s; }
        .ba-header .ba-nav-menu .ba-nav-bar__menu .ba-nav-bar__item:last-child {
          margin-right: 0; }
        .ba-header .ba-nav-menu .ba-nav-bar__menu .ba-nav-bar__item:hover {
          border-color: #ff6033; }
  .ba-header .ba-header-desc {
    padding-top: 229px;
    margin-bottom: 290px; }
    .ba-header .ba-header-desc__title {
      font-size: 3.75rem;
      font-weight: bold;
      margin-bottom: 27px; }
    .ba-header .ba-header-desc__text {
      line-height: 27px;
      font-weight: 300;
      margin-bottom: 48px; }
    .ba-header .ba-header-desc__link {
      background-color: #ff6033;
      color: #fff;
      padding: 16px 25px;
      border: 1px solid transparent;
      transition: 0.3s; }
      .ba-header .ba-header-desc__link:hover {
        border-color: #ff6033;
        color: #ff6033;
        background-color: transparent; }
      .ba-header .ba-header-desc__link:active {
        border-color: #4582c7; }
      .ba-header .ba-header-desc__link:focus {
        border-color: #1e7962; }
  .ba-header .ba-scroll {
    display: flex;
    justify-content: center;
    align-items: center; }
    .ba-header .ba-scroll .ba-scroll__item {
      width: 25px;
      height: 40px; }

.ba-about {
  padding: 75px 155px 70px 157px;
  background-color: #00baba; }
  .ba-about .ba-about-us {
    display: flex;
    justify-content: space-between; }
    .ba-about .ba-about-us .ba-about-desc {
      padding-top: 162px; }
      .ba-about .ba-about-us .ba-about-desc__title {
        font-size: 5.625rem;
        color: #fff;
        font-weight: bold; }
      .ba-about .ba-about-us .ba-about-desc__text {
        color: #fff;
        line-height: 27px;
        font-weight: 300; }
        .ba-about .ba-about-us .ba-about-desc__text--margin {
          margin-top: 13px; }

.ba-services {
  padding: 105px 0 145px;
  background-color: #70bfff;
  background-image: url(../images/tomato.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain; }
  .ba-services .ba-wrapper {
    display: flex; }
    .ba-services .ba-wrapper .ba-shopping {
      padding-top: 75px; }
      .ba-services .ba-wrapper .ba-shopping__item {
        display: flex;
        align-items: center;
        padding: 35px 50px;
        border-right: 1px solid #9d9d9d;
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold; }
        .ba-services .ba-wrapper .ba-shopping__item:last-child {
          margin-bottom: 0; }
      .ba-services .ba-wrapper .ba-shopping .ba-cart {
        width: 50px;
        height: 43px; }
        .ba-services .ba-wrapper .ba-shopping .ba-cart--carrot {
          width: 57px;
          height: 57px; }
